[Desktop Entry]
Type=Application
Name=SAO HUD
Comment=Sword Art Online HUD System Monitor
Exec=/app/bin/sao-hud.py
Icon=/app/share/sao-hud/lifebars/sao-hud.png
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
X-XFCE-Autostart-enabled=true
StartupNotify=false
Hidden=false
NoDisplay=false
