[Desktop Entry]
Type=Application
Name=SAO HUD
Exec=env GDK_BACKEND=x11 /opt/sao-hud/main.py
StartupNotify=false
Terminal=false
X-GNOME-Autostart-enabled=true
